# Ignore the node_modules directory
node_modules/

# Ignore the build directory
/V1/task_machine_performance/SEP_test_arrival/
/V1/task_machine_performance/temp/
/V1/output/figures
/V1/report/
/V1/output/log.txt
# The file containing pycache 
*.pyc
 __pycache__/

# Ignore IDE specific files
.vscode/
