# Ignore the node_modules directory
node_modules/

# Ignore the build directory
/V1/output/data/
/V1/output/figures
/V1/report/
/V1/output/log.txt
# The file containing pycache 
**.pyc

# Ignore IDE specific files
.vscode/
